{% extends "layout.html" %}

{% block content %}
<div class="formulario">
<table class="table">
    <tr>
        <th>Nombre del genero</th>
        <th>Opciones</th>
    </tr>
        {% for genero in consulta_genero %}
        <tr>
            <td>{{genero.nombre_genero}}</td>
            <td><a href="/editarGenero/{{genero.id_genero}}">Editar</a></td>
            <td><a href="/eliminarGenero/{{genero.id_genero}}">Eliminar</a></td>
        </tr>
        {% endfor %}
</table>
<button onclick="window.location.href='/'">Regresar</button>
{% endblock %}
</div>