{% extends "layout.html" %}

<head>
  {% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      {% block title %}
      Inicio de sesion
      {% endblock %}
  <title>Inicio de sesion</title>  
  {% endblock %}
</head>

{% block content %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
      <div class="container">
      <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <!--inicia el formulario-->
          <form action="/login" method="post" class="box">
              <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                  <input type="email" name="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                  </span>
              </div>
              </div>
              <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                  <input type="password" name="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                  </span>
              </div>
              </div>
            <div class="field">
              <a href="/registrar">No tienes cuenta? click aqui para registrarse!</a>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<button onclick="window.location.href='/'">Regresar</button>
{% endblock %}